$gap-showcase: 60px;
.showcase{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 0 $gap-showcase;
    .showcase-title{
        font-size: 1.8rem;
    }
    .showcase-content{
        p {
            font-size: 1.2em;
            line-height: 1.7em;
        }
    }
    .showcase-items {
        text-align: justify;
        position: relative;
        margin: 0 auto;
        .showcase-item {
            display: inline-block; /* Change from float to inline-block */
            width: 150px;
            padding: 30px;
            .showcase-item-title{
                display: none;
                font-size: 1.3rem;
            }
            .showcase-item-desc{
                display: none;
            }
        }
    }
}

.show-titles{
    .showcase-items {
        .showcase-item {
            .showcase-item-title {
                display: block;
            }
        }
    }
}

.show-contents{
    .showcase-items {
        .showcase-item {
            .showcase-item-desc {
                display: block;
            }
        }
    }
}

.showcase.full-width {
    padding: 0!important;
}